/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ‘Open Sans’,sans-serif;
}

/* Header */
header .container{
    padding: 20px;
    /* Debug */
    border: solid 1px gray;
    background-color: white;
}

header .container::after{
    content: "";
    display: table;
    clear: both;
}

.navscroll {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navscroll img, .navlista {
    float: left;
}

/* Lista navigazione */
a {
    color: black;
    /* text-align: center; */
    text-decoration: none;
    margin: 15px;
}

.navlistadx {
    float: right;
}

.inizia {
    color: white;
    padding: 5px 20px;
    background-color: blue;  
}

/* Jumbotron */
#jumbotron {
    width: 100%;
    background-color: rgb(180, 208, 231);
}

.container2 {
    padding-top: 150px;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    /* Debug */
    /* background-color: blueviolet; */
}

h1 {
    font-size: 65px;
}

.row::after{
    contain: "";
    display: table;
    clear: both;
}

.colsx {
    float: left;
    width: 400px;
    /* Debug */
    /* background-color: brown; */
}

.colsx p{
    margin: 50px 0 20px;
}

.coldx {
    float: left;
    margin-left: 30px;
}

.coldx img {
    width: 550px;
}
/* Fine Jumbotron */

/* Main */
/* Tabella */
.colonna-off, .colcenter {
    float: left;
    width: 270px;
    padding: 20px;
    /* margin-right: 20px; */
    /* Debug */
    border: 2px solid red;
}

.colcenter{
    margin-right: 33px;
    margin-left: 33px;
}


.row-sec1::after {
    content: "";
    display: table;
    clear: both;
}

.row-sec1 img {
    float: left;
    width: 450px;
}

main .container2{
    margin-top: 100px;
    width: 65%;
}

main a {
    margin: 0;
}

main h2 {
    font-size: 45px;
}

ul {
    list-style-type: none;  
}

li {
    margin-bottom: 20px;
}

/* Sezizone 2 */
.enterprice {
    float: left;
    padding: 10px;
    width: 100%;
    border: 1px solid red;
}

.testo-sec2 {
    padding: 20px;
    width: 400px;
    float: right;
}

.testo-sec2 a:last-child{
    padding: 5px;
    border: 1px solid black;
}

.testo-sec2 p {
    margin-bottom: 20px;
}

.testo-sec2 a {
    margin: 0;
}




