/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ‘Open Sans’,sans-serif;
}

/* Header */
header .container{
    /* width: 100%; */
    /* height: 80px;  */
    padding: 20px;
    /* Debug */
    border: solid 4px green;
    background-color: white;
}

header .container::after{
    content: "";
    display: table;
    clear: both;
}

.navscroll {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navscroll img, .navlista {
    float: left;
}

/* Lista navigazione */
.navscroll a {
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 15px;
}

.navlistadx {
    float: right;
}

.navlistadx a:last-child{
    color: white;
    padding: 5px 20px;
    background-color: blue;
}

/* Jumbotron */
#jumbotron {
    width: 100%;
    /* height: 100vh; */
    background-color: aquamarine;
}

.container2 {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    /* Debug */
    background-color: blueviolet;
}

h1 {
    position: absolute;
    bottom: 270px;
    font-size: 65px;
}



