/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ‘Open Sans’,sans-serif;
}

/* Header */
header .container{
    padding: 20px;
    /* Debug */
    border: solid 1px gray;
    background-color: white;
}

header .container::after{
    content: "";
    display: table;
    clear: both;
}

.navscroll {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navscroll img, .navlista {
    float: left;
}

/* Lista navigazione */
a {
    color: black;
    /* text-align: center; */
    text-decoration: none;
    margin: 15px;
}

.navlistadx {
    float: right;
}

.inizia {
    color: white;
    padding: 5px 20px;
    background-color: blue;  
}

/* Jumbotron */
#jumbotron {
    width: 100%;
    background-color: rgb(180, 208, 231);
}

.container2 {
    padding-top: 150px;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    /* Debug */
    /* background-color: blueviolet; */
}

h1 {
    font-size: 65px;
}

.row::after{
    contain: "";
    display: table;
    clear: both;
}

.colsx {
    float: left;
    width: 400px;
    /* Debug */
    /* background-color: brown; */
}

.colsx p{
    margin-bottom: 20px;
}

.coldx {
    float: left;
}

.coldx img {
    width: 450px;
}

/* Main */

/* Tabella */
table {
    width: 100%;
    /* border: 1px solid; */
}

th, td {
    border: 1px solid;
    padding: 15px; 
}

td {
    padding-bottom: 120px;
}


main .container2{
    margin-top: 100px;
    width: 70%;
}

main h2 {
    font-size: 45px;
}

ul {
    list-style-type: none;  
}

li {
    margin-bottom: 20px;
}


